* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #061526;
    font-family: "Roboto Condensed", sans-serif;
}
.section {
    transition: transform 1s, opacity 1s;
}
.section-hidden {
    opacity: 0;
    transform: translateY(8rem);
}
/* nav  */
.nav {
    height: 10vh;
    background: linear-gradient(to top left, #e4bdc2, #9a96b1);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav_logo {
    height: 2.7rem;
    margin: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
}
.nav_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.nav_link {
    font-size: 2.2rem;
    margin-right: 2.5rem;
    text-decoration: none;
    /* color: white; */
    color: #061526;
}

/* welcome page  */
.welcome_page {
    background: url(./img/cover.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome_message {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 3.2rem;
    color: white;
    font-weight: bolder;
    padding: 0.7rem;
    border-radius: 8px;
}
/* intro page  */
.intro_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.rohit_photo {
    position: relative;
    height: 24rem;
    width: 24rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 50%;
}
.Rohit_pic {
    height: 22rem;
    margin: 1rem;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}
.shutter {
    height: 24rem;
    position: relative;
    top: -100%;
    border-radius: 50%;
    z-index: 10;
}
.intro_content {
    width: 32rem;
    margin: 3rem;
    margin-bottom: 7rem;
    padding: 2rem;
    font-size: 1.57rem;
    color: white;
    border-radius: 20px;
    background: linear-gradient(to top left, #fc466b, #3f5efb);
    transform: skewX(-2.5deg);
    box-shadow: -10px 10px 0px white;
}

/* project page  */
.project_page {
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.project_page_title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 10vh;
    color: white;
    text-align: center;
    font-size: 2.2rem;
}
.projects_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn_arrow {
    margin: 15px;
}
.projects_container {
    margin: 2rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project_column {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project {
    transform: perspective(1000px);
    transform-style: preserve-3d;
    height: 21rem;
    width: 18rem;
    margin: 1.2rem;
    margin-bottom: 3rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    flex-shrink: 1;
    box-shadow: 0px 0px 0px 5px #061526, 0px 0px 0px 7px violet;
}
.project_image {
    transform: translateZ(20px);
    width: 19.5rem;
    border-radius: 10px;
}
/* .lazy-img {
    filter: blur(3px);
} */
.project_name {
    transform: translateZ(20px);

    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px;
}
.project_info {
    transform: translateZ(20px);

    font-size: 1.2rem;
    text-align: center;
    margin: 3px;
}
a {
    text-decoration: none;
    color: white;
}
.weblinks {
    transform: translateZ(20px);
}
.github_link,
.website_link {
    font-size: 1.875rem;
    margin-left: 10px;
    margin-right: 10px;
}

/* contacts */
.contact_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.75rem;
    height: 5.625rem;
    width: 33.75rem;
    transform: skewX(10deg);
    box-shadow: -14px 14px 0px white;
}
.contact1 {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}
.contact2 {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.contact3 {
    background-image: linear-gradient(to top left, #03a9f4, #464ff0);
}
.contact4 {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
.social {
    font-size: 1.5rem;
    color: white;
    width: 7.5rem;
}
.credential {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    width: 22.5rem;
}
.footer {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    color: white;
}

@media screen and (max-width: 1242px) {
    .project_column {
        flex-direction: row;
    }
}

@media screen and (max-width: 1056px) {
    .intro_page {
        flex-direction: column;
    }
    .rohit_photo {
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 20rem;
    }
    .Rohit_pic {
        height: 18rem;
    }
    .shutter {
        height: 20rem;
    }
    .intro_content {
        margin: 1rem;
        width: 45rem;
        padding: 1.5rem;
    }
}
@media screen and (max-width: 900px) {
    .project_column {
        flex-direction: column;
    }
    .intro_content {
        font-size: 1.4rem;
        width: 38rem;
    }
}
@media screen and (max-width: 800px) {
    .contact {
        width: 31rem;
    }
    .credential {
        width: 20rem;
    }
}
@media screen and (max-width: 750px) {
    .welcome_message {
        font-size: 2.8rem;
    }
    .nav_link {
        font-size: 1.8rem;
    }
    .intro_content {
        width: 32rem;
        padding: 1rem;
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 650px) {
    .intro_content {
        width: 24rem;
        padding: 1rem;
        font-size: 1.4rem;
    }
    .contact {
        width: 27rem;
        height: 4.5rem;
        margin: 1rem;
        box-shadow: -10px 10px 0px white;
    }
    .social {
        font-size: 1.3rem;
    }
    .credential {
        width: 14rem;
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 550px) {
    .nav_link {
        font-size: 1.6rem;
    }
    .btn_arrow {
        display: none;
    }
    .contact {
        width: 25rem;
    }
    .credential {
        width: 12rem;
    }
}
@media screen and (max-width: 450px) {
    .intro_content {
        width: 20rem;
    }
    .contact {
        width: 22rem;
    }
    .social {
        width: 7rem;
    }
    .credential {
        width: 12rem;
    }
}
