* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #061526;
}
/* nav  */
.nav {
    height: 10vh;
    background: blueviolet;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav_logo {
    height: 3rem;
    margin: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}
.nav_links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.nav_link {
    font-size: 3rem;
    margin-right: 2.5rem;
    text-decoration: none;
    color: white;
}

/* welcome page  */
.welcome_page {
    height: 90vh;
    width: 100vw;
    /* background: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome_message {
    font-size: 3rem;
    color: white;
}
/* intro page  */
.intro_page {
    height: 100vh;
    width: 100vw;
    /* background: chocolate; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Rohit_pic {
    height: 30rem;
    margin: 5rem;
}
.intro_content {
    width: 40vw;
    font-size: 2rem;
    color: white;
    /* background: green; */
}

/* project page  */
.project_page {
    height: 160vh;
    width: 100vw;
    /* background: burlywood; */
}
.project_page_title {
    height: 20vh;
    /* background: orchid; */
    color: white;
    text-align: center;
    font-size: 3rem;
}
.projects_area {
    height: 130vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.projects_container {
    margin: 2rem;
    /* background: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project_column {
    margin: 1rem;
    /* background: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project {
    height: 28rem;
    width: 24rem;
    margin: 1.2rem;
    margin-bottom: 3rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    flex-shrink: 1;
}
.project_image {
    width: 26rem;
    border-radius: 10px;
}
.project_name {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 10px;
}
.project_info {
    font-size: 1.6rem;
    text-align: center;
    margin: 3px;
}
a {
    text-decoration: none;
    color: white;
}
.github_link,
.website_link {
    font-size: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
}
